# Audio config
ELEVENLABS_API_KEY="Eleven Labs API"
VOICE_ID="voice ID from Eleven labs. e.g 'CYR0HqHoZAUmoZsLWPob'"
MODEL_ID="model ID from Eleven labs. e.g 'eleven_multilingual_v2'"
OUTPUT_FORMAT="audio extension and frecuency; uses the Eleven labs format. e.g. 'mp3_44100_128'"
LANGUAGE_CODE="language code in ISO format. e.g. 'fr'"

